# /lib/systemd/system/qmanager-discord.service
[Unit]
Description=QManager Discord Bot
After=network-online.target qmanager-poller.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/qmanager_discord
EnvironmentFile=-/etc/qmanager/environment
TimeoutStartSec=30
TimeoutStopSec=10
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=3600
StartLimitBurst=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=qmanager-discord

[Install]
WantedBy=multi-user.target
